.about-me{
    font-size: x-large;
}
#about{
    overflow-x: hidden;
  }
.about-me li{
    margin-top:10px;
    padding:10px;
}

.right-side{
    width:58%;
}

@media only screen and (max-width:1440px) {
    .left-side {
     margin-left: 0;
    }
   
.left-side img{
    width:520px;
    height: 410px;
    margin-top: 55px;
}
    .right-side{
        width:50%;
    }
  
  }



  @media only screen and (max-width:1300px) {
    .left-side {
     margin-left: 0;
    }
   
.left-side img{
    width:520px;
    height: 410px;
    margin-top: 55px;
}
    .right-side{
        width:50%;
    }
  
  }

  @media only screen and (max-width:1168px) {
    .left-side {
     margin-left: 0;
    }
   
.left-side img{
    width:450px;
    height: 340px;
    margin-top: 80px;
}
    .right-side{
        width:50%;
    }
  
  }


  @media only screen and (max-width: 500px) {
    .left-side {
     margin-left: 0;
    }
    .left-side img{
        margin-top: 0;
        width:320px;
        height:240px;
    }

    .right-side{
        width:100%;
    }
    .about-me{
        font-size: 19px;
    }

    .tab{
        font-size: 0.8rem;
        margin-left: 0;
    }

    
  }

