.about-me{
    font-size: x-large;
}

.about-me li{
    margin-top:10px;
    padding:10px;
}

@media (max-width: 600px) {
  .about-me li{
      padding:0;
    }
    .tab{
    margin-left:0;
    /* width:140%; */
    }

    .tab-content{
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    .hello{
        background-color: yellow;
        
    }

  }