.home{
    margin-top:20vh;
    color: white;
    overflow-x: hidden;
}

.home .name{
    font-weight: bolder;
    font-size: 5rem;
    color: #0F0D28;
    margin-left: 0;
    color: #9463FF;
   
 
}

.home .domain{
    font-weight: bold;
    font-size: 2.5rem;
   
    margin-left: 6px;
}




.home-but{
  width:140px;
  height:50px;
  border-radius: .5rem;
  border:3px solid #6d2bfc;
  background-color: #0F0D28;
  margin-top:3vh;
}


a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  
}

.home p{
  font-size: 1.3rem;
  overflow-wrap: break-word;
}

.image_div{
  animation-name: imganimate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all .6s;
}

@keyframes imganimate {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-40px);
  }
  100%{
    transform: translateY(0px);
  }
  
}