.home{
    margin-top:20vh;
    color: white;
    overflow-x: hidden;
}

.home .name{
    font-weight: bolder;
    font-size: 5rem;
    color: #0F0D28;
    margin-left: 0;
    color: #9463FF;
   
 
}

.home .domain{
    font-weight: bold;
    font-size: 2.5rem;
   
    margin-left: 6px;
}


.button-43 {
    width:140px;
    height:50px;
    background-color: #0F0D28;
  /* background-image: linear-gradient(-180deg, #9463FF 0%, #6a28f8 100%); */
  border:3px solid #6d2bfc;
  border-radius: .5rem;
  /* box-sizing: border-box; */
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  margin-top:3vh;
  justify-content: center;
  align-items: center;
  /* padding: 0.5rem; */
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  /* background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%); */
}

@media (min-width: 768px) {
  .button-43 {
    /* padding: 1rem 2rem; */
  }
}


.button-44 {
    width:140px;
    height:50px;
 
  border-radius: .5rem;
  border:3px solid #6d2bfc;
  background-color: #0F0D28;

  /* box-sizing: border-box; */
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  margin-top:3vh;
  justify-content: center;
  align-items: center;
  /* padding: 0.5rem; */
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
 background-image: linear-gradient(-180deg, #9463FF 0%, #6a28f8 100%);}

@media (min-width: 768px) {
  .button-43 {
    /* padding: 1rem 2rem; */
  }
}

.home-but{
  width:140px;
  height:50px;
  border-radius: .5rem;
  border:3px solid #6d2bfc;
  background-color: #0F0D28;
  margin-top:3vh;
}


a{
    text-decoration: none;
    color: white;
    font-size: 20px;
 
  
}

.home p{
  font-size: 1.3rem;
  overflow-wrap: break-word;
}

.image_div{
  animation-name: imganimate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all .6s;
}

@keyframes imganimate {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-40px);
  }
  100%{
    transform: translateY(0px);
  }
  
}