.navbar{
  background-color: #0F0D28;
}
.navbar .nav-link  {
  color: white;
  font-size: large;
  font-weight: 500;
  margin: auto 1rem;
}

.navbar .nav-logo{
  color: white;
  font-size: 2.5rem;
  /* font-family:'Courier New', Courier, monospace; */
  font-weight: 900;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link.active {
  color: #9463FF !important;
}

.navbar-toggler-white {
  color: white !important;
}
#basic-navbar-nav{
  color:white;
  
}
#basic-navbar-nav .navbar-toggler-icon{
  color:white;
}
.custom-toggler .navbar-toggler-icon {
  color: white;
}
