.serviceBox_2{
    /* padding-left: 30px; */
    position: relative;
    background-color: #1D1B39;
    border-radius: 10px;
    box-shadow: rgba(188, 135, 245, 0.25) 0px 6px 12px -2px, rgba(197, 100, 241, 0.3) 0px 3px 7px -3px;
    /* box-shadow: rgba(220, 46, 217, 0.25) 0px 25px 50px -12px; */
}
.serviceBox_2:hover{
    /* padding-left: 30px; */
    position: relative;
    background-color: #ed78f8;
    border-radius: 10px;
    border:1px solid white;
    background-color: #0F0D28;
}
.serviceBox_2:before{
    content: "";
    width: 50px;
    height: 50px;
    background-color: #0F0D28;
    position: absolute;
    top: -15px;
    right: -5px;
    z-index: -1;
    border-radius: 50%;
}
.serviceBox_2 .service-icon_2{
    width: 50px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    background-color: #0F0D28;
    font-weight: 800;
    /* font-size: 30px; */
    color: #fff;
    position: absolute;
    /* overflow: hidden; */
    /* top: -20px;
    right: -10px; */
    top: -15px;
    right: -5px;
    z-index: -1;
    border-radius: 50%;
}

/* .serviceBox_2:before:hover{
    content: "";
    width: 50px;
    height: 50px;
    background-color:#bcbaba;
    position: absolute;
    top: -20px;
    right: -10px;
    z-index: 1;
    border-radius: 50%;
} */
.serviceBox_2:hover .service-icon_2{
    width: 50px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    /* background-color:#ececf0; */
    background-color:white;
    /* font-weight: 800; */
    /* font-size: 30px; */
    color: #fff;
    position: absolute;
    /* overflow: hidden; */
    /* top: -20px;
    right: -10px; */
    top: -20px;
    right: -15px;
    z-index: 1;
    border-radius: 50%;
    transition: all 0.5s;
    /* border: 2px solid black; */
}


.serviceBox_2 .service-content_2{
    padding-bottom: 20px;
    width:20rem;
    border-width: 0.1rem;
    /* border-style:ridge;
    border-color:  #9463FF;
    position: relative; */
    transition: all 0.4s ease-in-out 0s;
}

.serviceBox_2 .title_2{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding-left: 30px;
    /* margin-top: 15px;
    margin-bottom: 35px; */
    text-transform: capitalize;
    transition: all 0.4s ease-in-out 0s;
}

/* .serviceBox_2 .read-more{
   
    border: 1px solid #949494;
}
.serviceBox_2 .read-more a{
    text-decoration: none;
} */
/* .serviceBox_2:hover .title_2{
    color: #fff;
} */
/* .serviceBox_2 .description_2{
    font-size: 14px;
    color: #858585;
    margin: 0;
} */
/* .serviceBox_2 .read-more{ */
    /* display: inline-block; */
    /* width: 32px;
    height: 30px;
    line-height: 30px;
    background: white;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    padding:10px;
    position: absolute; */
    /* bottom: 0; */
    /* right: -1px; */
    /* text-align: center; */
    /* transition: all 0.4s ease-in-out 0s; */
/* } */
/* .serviceBox_2 .read-more:hover{
    background: #2a2b2c;
} */

.read-more {
    width:170px;
    height:50px;
 
  border-radius: .5rem;
  outline: none;
  /* border:1px solid #834bfa; */
  background-color: #0F0D28;

  /* box-sizing: border-box; */
  color: #FFFFFF;
 
  font-size: 20px;
  padding: 0;
 
  /* justify-content: center;
  align-items: center; */
  /* padding: 0.5rem; */
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.read-more a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0%;
}
.read-more:hover {
 /* background-image: linear-gradient(-180deg, #9463FF 0%, #6a28f8 100%); */
}

@media only screen and (max-width:990px){
    .serviceBox_2{ margin-bottom: 50px; }
}


@media (min-width: 768px) {
  .read-more {
    /* padding: 1rem 2rem; */
  }
}

